.article .figure {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.article .figure-rect {
  padding-bottom: 61.5%;
}

.article .figure-square {
  padding-bottom: 100%;
}

.article .figure-square-95 {
  width: 95px;
  height: 95px;
}

.article .figure-square-110 {
  width: 110px;
  height: 110px;
}

.article .figure-rect-110 {
  width: 110px;
  height: 73px;
}

.article .figure-subscribe {
  width: 255px;
  height: 255px;
}

.article .img {
  width: 100%;
  object-fit: cover;
}

.article .img-round {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

.article .img-subscribe {
  position: absolute;
  width: 170px;
  height: 227px;
}

.article .img-subscribe-1 {
  top: 0;
  left: 0;
}

.article .img-subscribe-2 {
  top: 15px;
  left: 85px;
}

.article .figure .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article .topic {
  position: absolute;
  left: 0;
  bottom: 0;
  color: $newsweek-color;
}
