@import "icon";

.footer-icon {
  @include newsweek-icon($newsweek-color);
  display: block;
  width: 236px;
  height: 36px;
}

.sm-icon {
  width: 26px;
  height: 26px;
  color: rgb(102, 102, 102);
  fill: currentColor;
}
