.flex-basis-100 {
  flex-basis: 100%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

@include media-breakpoint-up(md) {
  .flex-basis-md-50 {
    flex-basis: 50%;
  }
}

.font-size-75 {
  font-size: 0.75rem;
}

.font-size-9375 {
  font-size: 0.9375rem;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-125 {
  font-size: 1.25rem;
}

.font-size-1375 {
  font-size: 1.375rem;
}

.font-size-11875 {
  font-size: 1.1875rem;
}
